/* Estilo general (fijo en el margen derecho) */
.navigation {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #f9f9f9;
  border-left: 2px solid #ddd;
  padding: 20px 10px;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Botones arriba a la derecha para PurchaseList */
.navigation.topRight {
  position: absolute;
  top: 20px;
  right: 20px;
  flex-direction: row;
  gap: 10px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}


.navButton {
  padding: 8px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
  text-align: center;
}

.navButton.active {
  background-color: #007bff;
  color: white;
}

.navButton:hover {
  background-color: #ddd;
}
